
.cache*

*~
*/project/project
*/project/target
*/target
*/common/target

silver/.classpath
silver/.externalToolBuilders
silver/.project
silver/.settings

silicon/.classpath
silicon/.externalToolBuilders
silicon/.project
silicon/.settings

carbon/.classpath
carbon/.externalToolBuilders
carbon/.project
carbon/.settings


