[submodule "vercors/viper/silicon"]
	path = vercors/viper/silicon
	url = hg::https://bitbucket.org/viperproject/silicon
[submodule "vercors/viper/silver"]
	path = vercors/viper/silver
	url = hg::https://bitbucket.org/viperproject/silver
[submodule "vercors/carbon"]
	path = vercors/carbon
	url = hg::https://bitbucket.org/viperproject/carbon
[submodule "vercors/viper/carbon"]
	path = vercors/viper/carbon
	url = hg::https://bitbucket.org/viperproject/carbon
