<!--
This file shouldn't be needed. It is here to override the logging configuration of viper when it
is built with VerCors. The configured appender redirects logback logging output to the hre logging
framework instead. However, logback-test is meant to be included in test run configurations, so the
logging configuration can be overridden in that case.

The ideal solution would be that Viper only uses the simple logging facade (slf4j) and does not include logback. Then,
we could implement our own slf4j logger instead of overriding the logback output.
-->
<configuration>
    <appender name="hre" class="hre.io.LogbackAppender"/>
    <root level="debug">
        <appender-ref ref="hre"/>
    </root>
</configuration>