# Simple Build Tool
# http://www.scala-sbt.org/release/docs/Getting-Started/Directories.html#configuring-version-control

dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.history
.cache
.lib/

# Ignore sbt and history of the viper modules
# Entries are in this gitignore file to not clutter the plain copies of the Viper repositories

carbon/dist/*
carbon/target/
carbon/lib_managed/
carbon/src_managed/
carbon/project/boot/
carbon/project/plugins/project/
carbon/.history
carbon/.cache
carbon/.lib/
carbon/.hg/

silver/dist/*
silver/target/
silver/lib_managed/
silver/src_managed/
silver/project/boot/
silver/project/plugins/project/
silver/.history
silver/.cache
silver/.lib/
silver/.hg/

silicon/dist/*
silicon/target/
silicon/lib_managed/
silicon/src_managed/
silicon/project/boot/
silicon/project/plugins/project/
silicon/.history
silicon/.cache
silicon/.lib/
silicon/.hg/

# Ignore symbolic links to silver, since theiy are different for Windows and Unix systems
carbon/silver
silicon/silver
